page-about {

}

p{
  text-align: justify;
}

ion-card-title{
  text-align: center;
  text-decoration: underline;
}

ion-row{
  background-color: black;
}

ion-col div{
  color: white;
}

ion-icon{
  color: white;
}
